
/* Reglas generales, familia, espaciado, interlineado, margenes, bordes de imagen */
* {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

body {
    margin: 0;
}

figure {
    margin: 0;
}

img {
    border-radius: 10px;
}

/* Header */
header {
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(53, 47, 47);
}

/* Barra de navegacion */
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(112, 9, 9);
}

/* General de secciones */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    
    #contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    }

    
/* Galeria */
#galeria {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    padding: 20px;
}
#hijo1{
    flex: 1;
}
#hijo2{
    flex: 1;
}

/* Especificacion de tamanio imagenes y texto, colores...*/
#galeria img {
    width: 100%;
    height: auto;
}

#about img {
    width: 300px;
    height: 400px;
}
#about p {
    width: 700px;
    text-align: center;
}
#titulocontacto {
    color: rgb(146, 26, 26);
}

/* Dar formato al 100%, tamano y margen bottom*/

#contacto input {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
}
#contacto button {
    width: 100%;
    height: 35px;
    margin-bottom: 40px;
    color: white;
    background-color: rgb(37, 35, 35);
}
#contacto button:hover {
    background-color: rgb(140, 140, 140);
}

/* Quitar margen pad de 20px */
footer {
    padding: 20px;
    margin: 0;
    color: gray;
    text-align: center;
    background-color: rgb(53, 47, 47);
}
